.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background-color: rgb(80, 77, 69);

	&__inner {
		height: 70px;
		margin: 1rem 0;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		position: relative;
		flex: 0 1 90px;
		overflow: hidden;
		z-index: 3;
		img {
			display: block;
			max-width: 100%;
			// елси картинка будет болще чтобы она подстроилась под размер
		}
	}
}
.menu {
	&__list {
		display: flex;
		position: relative;
		z-index: 2;
	}
	&__link {
		text-transform: capitalize;
		// font-family: $ff;
		font-style: normal;
		font-weight: 900;
		font-size: 1.11rem;
		line-height: 2.6;
		letter-spacing: 0.1em;
		// color: $wh-tx;

		transition: border 0.3s linear;
		&:hover {
			border-bottom: 2px solid #f4fa1a;
		}
	}
	&__cart {
		text-transform: capitalize;
		// font-family: $ff;
		font-style: normal;
		font-weight: 900;
		font-size: 1.11rem;
		line-height: 2.6;
		letter-spacing: 0.1em;
		color: $wh-tx;

		transition: border 0.3s linear;
		&:hover {
			border-bottom: 2px solid #f4fa1a;
		}
	}
}
.header__menu {
	margin-left: -0.55rem;
}
.menu__list li {
	margin-left: 0.55rem;
}

// адаптив для табле
@media (max-width: 991.98px) {
	.header {
		&__inner {
			// margin: 0;
		}
		&__logo {
			// display: none;
		}
	}
}

// /* mobile */
@media (max-width: 767.98px) {
	// последтсвия отсупов на планшете
	.header__logo {
		display: block;
		flex: 0 1 70px;
	}
	.header__inner {
		justify-content: space-between;
		margin: 0;
	}
	// =============
	.header__menu {
		overflow: auto;
		// если контента в менюшке бкдет больше или шрифт текста больше, то можно будет пролистать
		margin: 0;
		position: fixed;
		top: -100%;
		left: 0;
		// если left? то справа пустое пространоство.мб -отступ есть где-то
		width: 100%;
		height: 100%;
		// background-color: rgb(2, 49, 33);
		background-color: #18b5a4;
		padding: 80px 10px 20px 10px;
		// align-items: start;

		transition: all 0.21s ease 0s;
	}
	.header__menu.active {
		top: 0;
	}

	.menu__list {
		display: block;
	}
	.menu__list li {
		margin-left: 0;
	}
}
// // /* mobile small*/
// @media (max-width: 565.98px){
// 	.menu {
// 		&__link {
// 			font-size: 0.8rem;
// 		}
// 	}
// 	.header__logo{
// 		display: none;
// 	}
// }
