.intro {
	// transform: translateY(-87px);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	&__logo {
	}
}

// .cart-wrapper {
// 	position: absolute;
// 	top: 0;
// 	// right: 0;
// 	// width: 100%;
// 	z-index: 100;
// 	&__cart {
// 		height: 25px;
// 		width: 25px;
// 	}
// }
